<h2 class="center-align">All Retailers</h2>
<br>
<div>
<% @retailers.each do |retailer| %>
  <table>
        <thead>
        <h3><%= link_to retailer.name, retailer %></h3><br>
          <tr>
            <th>Sector</th>
              <th>Annual Turnover</th>
              <th>Established</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= retailer.sector %></td>
            <td><%= retailer.annual_turnover %></td>
            <td><%= retailer.established %></td><br>
            <br>
            <% end %>
          </tr>
        </tbody>
</table>
</div>
<br>
<br>