<h1>All Retailer Sectors</h1>
<br>
<% @retailers.each do |retailer| %>
<h2>Retailer No. : <%= link_to retailer.id, retailer %></h2>
<br>
<ul>
<li>Sector: <%= retailer.sector %></li>
<br>
<li>Annual Turnover: £<%= retailer.annual_turnover %></li>
</ul>
<br>
<br>
<%end%>