<body>
<div class="row">
<div class="col s12 m4 offset-m4">
<div class="card">
<div class="card-action #0277bd light-blue darken-3">
<h4>Log In</h4>
</div>
<div class="card-content">
<div class="form-field">
<label for="customer_id">Personal Id</label>
<input type ="text" id="customer_id">
<div class="form-field">
<label for="password">Security Password</label>
<input type ="text" id="password">
<div class="form-field">
<label>
<input type="checkbox" />
<span>Remember ID</span><br>
<br>
</label>
<label>
<input type="checkbox" />
<span>Using a public or shared device </span><br>
<br>
</label>
<div class="form-field">
<button class="btn-large waves-effect waves-light" style="width:100%;">Submit</li>
</div><br>
</div>
</div>
</body>