<footer class="page-footer #01579b light-blue darken-4">
          <div class="container">
            <div class="row">
              <div class="col l4 s12">
                <h5 class="white-text">Connect with us</h5>
                <a class="grey-text text-lighten-4" href="#!"><i class="small material-icons">call</i>
                <a class="grey-text text-lighten-4" href="#!"><i class="small material-icons">local_post_office</i>
                <a class="grey-text text-lighten-4" href="#!"><i class="small material-icons">laptop_mac</i>
                <a class="grey-text text-lighten-4" href="#!"><i class="small material-icons">description</i>
                </div>
              <div class="col l2 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 CDM Bank. All rights reserved.
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
</footer>