<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<header>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper #01579b light-blue darken-4">
    <%
=begin%>
 <a href="<%= root_path %>" class="brand-logo"> 
<%
=end%>
    <img class="responsive-img" src=".jpg">
    </a>
    <ul class="right hide-on-med-and-down">
      <%
=begin%>
 <li><a href="<%= root_path %>">Home</a></li>
      <li><a href="<%= root_path %>">Login</a></li> 
<%
=end%>
    </ul>
  </div>
</nav>
<% flash.each do |key, msg| %>
<div class="container">
    <div class="row padding-form">
        <div class="col s12 m12 l12">
            <div class="card-panel red lighten-1" id="fade-out-target">
            <span class="white-text">
            <%= msg %>
            </span>
            </div>
            </div>
            <div>
            </div>
    <% end %>
</header>